<h3>Equipment</h3>
<ul>
  <li *ngFor="let item of equipmentList">
    <span *ngIf="item !== itemBeingEdited; else editItemBlock">
      <span (click)="edit(item)">{{ item }}</span>
      <button (click)="remove(item)">remove</button>
    </span>

    <ng-template #editItemBlock>
      <input #itemName type="text" value="{{item}}" (keyup.enter)="save(itemName.value, item)"/>
      <button (click)="save(itemName.value, item)">save</button>
    </ng-template>
  </li>
</ul>

<input #newItem type="text"/>
<button (click)="add(newItem.value)">Add</button>